[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
requests = "*"
waitress = "*"
numpy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
